---
layout: default
title: Home
---

<section id="intro">

    <p>New Zealand distributor of the world&rsquo;s leading<br class="d-inline d-sm-none"> sports, outdoor,<br class="d-none d-sm-inline"> 
    and lifestyle brands since 1923.</p>

</section>

<section id="brands">

    <h2>Brands</h2>
    
    <div class="container">
        <div class="row">
            {% for column in (1..3) %}
            <div class="col-xs-12 col-sm-4 p-0">
                <ul>
                    {% for brand in site.brands %}
                        {% if brand.column == column %}
                            <li class="{{ brand.url | replace: '.html', '' }}" style="order:{{ brand.order }};background-image:url(/images{{ brand.url | replace: '.html', '-hover.svg' }})">
                                <img src="/images{{ brand.url | replace: 'html', 'svg' }}" alt="{{ brand.name }}">
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>

</section>

<section id="channels" class="bg-gray">

    <h2>Channels</h2>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/images/icon-wholesale.svg" alt="Wholesale">
                <h3>Wholesale</h3>
                <p>700 Doors</p>
            </div>
            <div class="col">
                <img src="/images/icon-flagships.svg" alt="Flagships">
                <h3>Flagships</h3>
                <p>10 Stores</p>
            </div>
            <div class="col">
                <img src="/images/icon-ecommerce.svg" alt="Ecommerce">
                <h3>Ecommerce</h3>
                <p>6 Sites</p>
            </div>
            <div class="col">
                <img src="/images/icon-outlet.svg" alt="Outlet">
                <h3>Outlet</h3>
                <p>5 Stores</p>
            </div>
        </div>
    </div>
</section>

<section id="expertise">

    <h2>Expertise</h2>
    
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="/images/icon-sales.svg" alt="Sales">
                <h3>Sales</h3>
            </div>
            <div class="col-4">
                <img src="/images/icon-marketing.svg" alt="Marketing">
                <h3>Marketing</h3>
            </div>
            <div class="col-4">
                <img src="/images/icon-logistics.svg" alt="Logistics">
                <h3>Logistics</h3>
            </div>
            <div class="col-4">
                <img src="/images/icon-digital.svg" alt="Digital">
                <h3>Digital</h3>
            </div>
            <div class="col-4">
                <img src="/images/icon-service.svg" alt="Service">
                <h3>Service</h3>
            </div>
            <div class="col-4">
                <img src="/images/icon-repairs.svg" alt="Repairs">
                <h3>Repairs</h3>
            </div>
        </div>
    </div>
</section>
