*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: Untitled, Helvetica, Arial, sans-serif;
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

html {
  font-family: "Untitled", sans-serif;
}

@font-face {
  font-family: 'Untitled';

  font-style: normal;

  font-weight: 400;

  font-display: swap;

  src: url(/fonts/untitled-sans-regular.woff2) format('woff2')
}

@font-face {
  font-family: 'Untitled';

  font-style: italic;

  font-weight: 400;

  font-display: swap;

  src: url(/fonts/untitled-sans-regular-italic.woff2) format('woff2')
}

@font-face {
  font-family: 'Untitled';

  font-style: normal;

  font-weight: 600;

  font-display: swap;

  src: url(/fonts/untitled-sans-medium.woff2) format('woff2')
}

@font-face {
  font-family: 'Untitled';

  font-style: italic;

  font-weight: 600;

  font-display: swap;

  src: url(/fonts/untitled-sans-medium-italic.woff2) format('woff2')
}

@font-face {
  font-family: 'Untitled';

  font-style: italic;

  font-weight: 700;

  font-display: swap;

  src: url(/fonts/untitled-sans-bold-italic.woff2) format('woff2')
}

@font-face {
  font-family: 'Untitled';

  font-style: normal;

  font-weight: 700;

  font-display: swap;

  src: url(/fonts/untitled-sans-bold.woff2) format('woff2')
}

@font-face {
  font-family: 'Untitled';

  font-style: normal;

  font-weight: 900;

  font-display: swap;

  src: url(/fonts/untitled-sans-black.woff2) format('woff2')
}

@font-face {
  font-family: 'Untitled';

  font-style: italic;

  font-weight: 900;

  font-display: swap;

  src: url(/fonts/untitled-sans-black-italic.woff2) format('woff2')
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.left-0 {
  left: 0px;
}

.top-0 {
  top: 0px;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-\[8\] {
  z-index: 8;
}

.mx-\[40px\] {
  margin-left: 40px;
  margin-right: 40px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-\[30px\] {
  margin-bottom: 30px;
}

.ml-auto {
  margin-left: auto;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-\[65px\] {
  margin-top: 65px;
}

.mt-\[90px\] {
  margin-top: 90px;
}

.mt-auto {
  margin-top: auto;
}

.mr-5 {
  margin-right: 1.25rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.hidden {
  display: none;
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.h-10 {
  height: 2.5rem;
}

.h-5 {
  height: 1.25rem;
}

.h-\[138px\] {
  height: 138px;
}

.h-\[150px\] {
  height: 150px;
}

.h-\[250px\] {
  height: 250px;
}

.h-\[25px\] {
  height: 25px;
}

.h-\[3rem\] {
  height: 3rem;
}

.h-\[90px\] {
  height: 90px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.max-h-0 {
  max-height: 0px;
}

.max-h-\[1080px\] {
  max-height: 1080px;
}

.w-10 {
  width: 2.5rem;
}

.w-3\/12 {
  width: 25%;
}

.w-5 {
  width: 1.25rem;
}

.w-\[140px\] {
  width: 140px;
}

.w-\[25px\] {
  width: 25px;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.w-svw {
  width: 100svw;
}

.min-w-full {
  min-width: 100%;
}

.max-w-\[1920px\] {
  max-width: 1920px;
}

.max-w-\[340px\] {
  max-width: 340px;
}

.-translate-y-full {
  --tw-translate-y: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-20 {
  gap: 5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-\[20px\] {
  gap: 20px;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.border-2 {
  border-width: 2px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-l-2 {
  border-left-width: 2px;
}

.border-t-2 {
  border-top-width: 2px;
}

.border-solid {
  border-style: solid;
}

.border-bw-green {
  --tw-border-opacity: 1;
  border-color: rgb(0 73 38 / var(--tw-border-opacity));
}

.bg-bw-green {
  --tw-bg-opacity: 1;
  background-color: rgb(0 73 38 / var(--tw-bg-opacity));
}

.bg-bw-grey {
  --tw-bg-opacity: 1;
  background-color: rgb(204 204 204 / var(--tw-bg-opacity));
}

.bg-bw-white {
  --tw-bg-opacity: 1;
  background-color: rgb(250 245 240 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-contain {
  background-size: contain;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}

.px-\[45px\] {
  padding-left: 45px;
  padding-right: 45px;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-\[25px\] {
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-\[35px\] {
  padding-top: 35px;
  padding-bottom: 35px;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-\[10px\] {
  padding-bottom: 10px;
}

.pb-\[40px\] {
  padding-bottom: 40px;
}

.pb-\[60px\] {
  padding-bottom: 60px;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-\[50px\] {
  padding-left: 50px;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pt-\[10px\] {
  padding-top: 10px;
}

.pt-\[25px\] {
  padding-top: 25px;
}

.pt-\[35px\] {
  padding-top: 35px;
}

.pt-\[40px\] {
  padding-top: 40px;
}

.pt-\[60px\] {
  padding-top: 60px;
}

.pt-\[65px\] {
  padding-top: 65px;
}

.pt-\[90px\] {
  padding-top: 90px;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pr-\[20\[px\]\] {
  padding-right: 20[px];
}

.pr-\[20px\] {
  padding-right: 20px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.font-sans {
  font-family: Untitled, Helvetica, Arial, sans-serif;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[54px\] {
  font-size: 54px;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.text-bw-green {
  --tw-text-opacity: 1;
  color: rgb(0 73 38 / var(--tw-text-opacity));
}

.text-bw-grey {
  --tw-text-opacity: 1;
  color: rgb(204 204 204 / var(--tw-text-opacity));
}

.text-bw-white {
  --tw-text-opacity: 1;
  color: rgb(250 245 240 / var(--tw-text-opacity));
}

.text-slate-500 {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.text-slate-800 {
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

:root {
  --main-bw-color: #004926;
  --swiper-scrollbar-drag-bg-color: rgba(0, 73, 38, 1);
  --swiper-scrollbar-size: 5px;
}

html,
body {
  overflow-x: hidden;
}

footer {
  background-image: url('data:image/svg+xml,<svg width="1585" height="142" viewBox="0 0 1585 142" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_47_249)"><path d="M30.3652 116.879H65.4869C80.9904 116.879 89.4005 109.616 89.4005 98.8102C89.4005 88.0047 80.9904 80.7411 65.4869 80.7411H30.3652V116.879ZM60.7469 57.3592C76.4809 57.3592 85.3025 51.8664 85.3025 40.6707C85.3025 29.475 76.4809 23.9672 60.7469 23.9672H30.3652V57.3592H60.7469ZM0 0H63.7588C97.3663 0 115.256 13.3568 115.256 37.5191C115.256 54.4177 104.279 63.6474 93.7126 67.7745C109.216 72.4869 119.996 84.478 119.996 101.557C119.996 126.304 100.395 141.042 67.6594 141.042H0V0Z" fill="white"/><path d="M205.496 64.4278C202.04 64.0376 199.456 63.8425 195.802 63.8425C180.068 63.8425 168.021 72.6819 168.021 88.59V141.042H137.853V37.7142H168.021V52.2566C172.975 43.222 184.183 37.1289 198.172 37.1289C201.184 37.1289 203.34 37.324 205.496 37.5191V64.4278Z" fill="white"/><path d="M250.279 141.042H220.111V37.7142H250.279V141.042ZM219.683 0H250.493V25.543H219.683V0Z" fill="white"/><path d="M411.371 117.84V140.652C405.989 141.627 399.554 142.242 391.983 142.242C369.156 142.242 357.092 135.339 357.092 114.133V60.7059H310.565V108.43C310.565 117.27 315.947 118.47 324.818 118.47C329.064 118.47 331.253 118.245 335.137 117.84V140.652C329.755 141.627 323.254 142.242 315.749 142.242C292.922 142.242 280.858 135.339 280.858 114.133V60.7059H265.782V37.7292H280.858V8.2542H310.548V37.7292H357.076V8.2542H386.782V37.7292H409.857V60.7059H386.782V108.43C386.782 117.27 392.23 118.47 401.035 118.47C405.347 118.47 407.47 118.245 411.354 117.84" fill="white"/><path d="M490.436 93.7076L468.25 97.8347C458.342 99.6056 451.019 102.547 451.019 110.801C451.019 117.87 456.845 121.997 465.88 121.997C478.586 121.997 490.436 115.904 490.436 104.318V93.7076ZM421.279 112.362C421.279 91.7416 439.383 83.0973 462.21 79.3604L490.419 74.4529V72.8771C490.419 64.0376 485.465 58.5448 472.974 58.5448C461.766 58.5448 455.956 63.0621 453.372 72.2918L424.718 67.3843C429.886 49.9004 447.118 35.7632 474.043 35.7632C502.697 35.7632 519.929 47.7393 519.929 71.7065V113.938C519.929 119.446 522.513 121.202 529.195 120.421V141.042C510.021 143.593 498.385 140.051 493.431 131.422C486.107 138.686 474.685 142.813 459.824 142.813C437.638 142.813 421.262 130.641 421.262 112.362" fill="white"/><path d="M571.41 141.042H541.242V37.7142H571.41V141.042ZM540.831 0H571.64V25.543H540.831V0Z" fill="white"/><path d="M591.209 37.7142H621.377V48.3246C627.631 41.6462 637.966 35.7482 652.4 35.7482C676.1 35.7482 690.534 50.4857 690.534 72.8771V141.042H660.382V80.7411C660.382 69.1552 655.215 60.901 642.278 60.901C631.729 60.901 621.377 67.7745 621.377 81.3264V141.042H591.209V37.7142Z" fill="white"/><path d="M862.834 0L889.545 97.8347L916.685 0H948.564L907.205 141.042H876.181L848.828 46.1635L821.458 141.042H790.451L748.861 0H781.827L808.752 97.8347L835.464 0H862.834Z" fill="white"/><path d="M969.845 177C964.018 177 961.862 176.805 957.995 176.415V154.218C961.22 154.413 963.162 154.609 966.602 154.609C974.568 154.609 978.88 152.643 982.122 145.184L985.776 136.93L945.058 37.7292H976.296L1001.94 105.699L1026.92 37.7292H1057.3L1012.49 146.955C1005.16 165.219 994.828 177.015 969.845 177.015" fill="white"/><path d="M1069.35 37.7142H1099.52V48.3246C1105.77 41.6462 1116.11 35.7482 1130.54 35.7482C1154.24 35.7482 1168.68 50.4857 1168.68 72.8771V141.042H1138.52V80.7411C1138.52 69.1552 1133.36 60.901 1120.42 60.901C1109.87 60.901 1099.52 67.7745 1099.52 81.3264V141.042H1069.35V37.7142Z" fill="white"/><path d="M1198.81 177C1192.98 177 1190.83 176.805 1186.96 176.415V154.218C1190.19 154.413 1192.13 154.609 1195.57 154.609C1203.53 154.609 1207.85 152.643 1211.09 145.184L1214.74 136.93L1174.02 37.7292H1205.26L1230.9 105.699L1255.89 37.7292H1286.27L1241.45 146.955C1234.13 165.219 1223.79 177.015 1198.81 177.015" fill="white"/><path d="M1352.17 93.7076L1329.98 97.8347C1320.07 99.6056 1312.75 102.547 1312.75 110.801C1312.75 117.87 1318.58 121.997 1327.61 121.997C1340.32 121.997 1352.17 115.904 1352.17 104.318V93.7076ZM1283.01 112.362C1283.01 91.7416 1301.11 83.0973 1323.94 79.3604L1352.15 74.4529V72.8771C1352.15 64.0376 1347.2 58.5448 1334.7 58.5448C1323.5 58.5448 1317.69 63.0621 1315.1 72.2918L1286.45 67.3843C1291.62 49.9004 1308.85 35.7632 1335.77 35.7632C1364.43 35.7632 1381.66 47.7393 1381.66 71.7065V113.938C1381.66 119.446 1384.24 121.202 1390.93 120.421V141.042C1371.75 143.593 1360.12 140.051 1355.16 131.422C1347.84 138.686 1336.42 142.813 1321.55 142.813C1299.37 142.813 1282.99 130.641 1282.99 112.362" fill="white"/><path d="M1470.62 64.4278C1467.16 64.0376 1464.58 63.8425 1460.92 63.8425C1445.19 63.8425 1433.14 72.6819 1433.14 88.59V141.042H1402.97V37.7142H1433.14V52.2566C1438.09 43.222 1449.3 37.1289 1463.29 37.1289C1466.3 37.1289 1468.46 37.324 1470.62 37.5191V64.4278Z" fill="white"/><path d="M1530.28 59.3252C1513.26 59.3252 1504.21 71.7065 1504.21 89.3855C1504.21 107.064 1513.26 119.641 1530.28 119.641C1544.71 119.641 1555.49 109.811 1555.49 92.327V86.6241C1555.49 68.9451 1544.73 59.3252 1530.28 59.3252ZM1473.84 89.3855C1473.84 60.1206 1491.95 35.7632 1523.18 35.7632C1537.4 35.7632 1548.17 40.8658 1554.85 48.3396V0H1585V141.042H1554.85V130.431C1548.17 138.085 1537.4 143.203 1523.18 143.203C1491.95 143.203 1473.84 118.845 1473.84 89.3704" fill="white"/></g><defs><clipPath id="clip0_47_249"><rect width="1585" height="177" fill="white"/></clipPath></defs></svg>');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-blend-mode: soft-light;
}

#intro-blurb,
#our-brands,
#our-expertise,
#our-channels,
#bw-sustainability {
  padding-top: 60px;
  padding-bottom: 60px;
}

#bw-sustainability {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="585" height="715" viewBox="0 0 585 715" fill="none"><g style="mix-blend-mode:overlay" opacity="0.5"><path d="M710.91 357.268C710.91 341.674 709.888 325.894 707.843 310.486C707.192 305.381 702.544 301.854 697.432 302.504C692.319 303.153 688.787 307.887 689.438 312.899C691.111 325.709 691.947 338.797 692.226 351.791C686.742 353.741 674.007 355.968 649.932 348.357C634.223 343.438 617.027 339.075 598.994 335.548C578.172 331.464 556.514 334.898 537.83 345.201C503.437 364.137 459.377 390.127 445.248 406.37C431.305 422.335 416.34 461.877 406.301 492.23C397.47 518.684 404.256 547.551 423.497 565.651C435.488 576.882 449.71 581.802 464.769 579.76C474.529 578.46 484.94 576.418 494.979 574.469C514.313 570.663 540.805 565.558 547.869 570.478C548.334 570.849 548.706 571.22 548.892 572.427C550.379 581.616 534.949 605.378 524.724 621.065C513.941 637.68 506.97 648.726 505.111 657.358C460.679 679.171 410.762 691.516 357.965 691.516C333.332 691.516 309.35 688.732 286.204 683.719C309.536 674.809 322.549 659.122 325.152 655.687C334.076 646.405 372.466 604.172 362.52 576.975C359.731 569.364 352.202 559.896 331.752 557.761C300.055 554.42 262.408 521.375 236.939 496.685C233.221 493.158 227.365 493.251 223.833 496.871C220.3 500.583 220.393 506.431 224.018 509.958C268.357 552.749 300.984 573.077 329.8 576.14C335.842 576.79 343.371 578.46 345.044 583.194C349.506 595.539 327.569 626.17 311.302 643.064C311.023 643.342 310.744 643.714 310.465 644.085C309.536 645.384 286.762 675.644 241.773 670.632C198.084 654.388 158.765 629.326 125.859 597.581C125.395 577.161 121.955 489.816 93.7903 449.068C84.4949 435.609 83.5654 423.078 91.3735 416.209C100.855 407.948 122.048 409.062 142.684 427.626C151.236 435.33 160.903 445.169 169.176 453.802C172.708 457.515 178.657 457.607 182.282 454.08C186 450.553 186.093 444.612 182.561 440.992C174.009 432.082 164.063 421.964 155.047 413.889C126.138 387.992 94.9057 388.456 79.1036 402.379C67.5773 412.496 60.5129 433.567 78.4529 459.649C97.7873 487.774 104.201 544.488 106.246 577.161C54.6568 518.405 23.3314 441.549 23.3314 357.454C23.3314 299.348 38.111 243.748 65.1605 195.11C71.4814 203.742 80.7768 213.488 91.1876 214.788C98.1591 215.716 120.096 219.429 153.002 225.276C155.326 225.648 157.649 225.926 160.066 225.926C168.06 225.926 175.961 223.513 182.654 218.872L209.704 200.308C214.723 196.78 221.044 195.667 226.993 197.152L263.059 206.063C272.726 208.476 282.672 206.898 291.131 201.607C299.59 196.316 305.353 188.055 307.305 178.309L317.902 126.793C319.575 118.904 318.459 110.55 314.834 103.31C312.696 99.04 312.417 94.2133 313.905 89.7579C315.392 85.3024 318.645 81.6824 322.921 79.5475L349.134 66.8311C359.917 61.6331 367.446 51.4228 369.119 39.5417L371.443 23.7621C425.542 25.9898 477.224 41.4909 522.772 67.388C518.868 69.8942 513.197 71.4721 505.575 68.8731C499.998 66.9239 494.328 67.6665 489.773 70.9152C483.638 75.2778 475.551 86.1378 475.83 129.485C475.83 145.822 483.266 161.694 496.094 173.018C502.322 178.495 506.505 184.157 508.271 189.54C510.688 196.688 493.212 217.758 475.551 232.517C461.515 236.137 439.578 248.018 443.296 271.594C444.505 279.391 449.431 290.066 465.791 296.006C471.926 298.234 478.34 299.348 484.94 299.348C494.886 299.348 504.925 296.749 514.127 291.736C535.506 280.041 563.021 261.291 572.874 238.364C575.291 232.702 577.8 232.238 578.637 232.145C586.259 231.031 600.853 242.541 608.754 251.266C619.351 261.755 646.028 274.936 677.447 258.692C677.726 259.62 678.097 260.641 678.376 261.569C679.585 265.561 683.303 268.16 687.3 268.16C688.136 268.16 689.066 268.067 689.996 267.788C694.922 266.303 697.711 261.105 696.223 256.279C671.219 172.647 615.911 103.31 544.616 58.7556C543.965 58.0131 543.222 57.2705 542.292 56.7136C541.641 56.3423 540.898 56.2495 540.154 56.0638C486.241 23.4837 423.497 4.82666 357.872 4.82666C315.206 4.82666 273.47 12.3452 233.779 27.1965C228.945 28.9601 226.528 34.3437 228.387 39.1704C230.246 43.9971 235.545 46.4105 240.378 44.554C276.258 31.095 314.091 24.0406 352.759 23.4837L350.807 36.7571C349.971 42.512 346.346 47.5243 341.047 50.0305L314.834 62.747C306.097 67.0167 299.497 74.4424 296.336 83.6317C293.176 92.8209 293.92 102.753 298.288 111.478C300.055 115.005 300.612 119.089 299.776 122.895L289.179 174.411C288.157 179.144 285.368 183.229 281.278 185.828C277.188 188.427 272.354 189.169 267.614 188.055L231.548 179.144C220.393 176.36 208.588 178.495 199.2 184.992L172.15 203.556C167.503 206.805 161.925 208.012 156.348 206.991C132.831 202.814 102.993 197.616 93.6973 196.409C89.2356 195.852 81.3345 186.663 75.7573 177.474C102.528 135.797 138.78 99.7825 182.84 72.7716C187.209 70.0798 188.603 64.3249 185.907 59.9623C183.212 55.5997 177.449 54.2074 173.08 56.8992C67.6703 121.688 4.64767 234.002 4.64767 357.454C4.64767 455.287 44.7107 543.838 109.407 607.792C109.871 608.349 110.336 608.813 110.894 609.184C174.66 671.56 261.758 710.081 357.779 710.081C414.852 710.081 468.673 696.436 516.451 672.302H516.544C517.752 671.931 518.775 671.374 519.704 670.632C633.108 611.876 710.91 493.622 710.91 357.454V357.268ZM671.312 240.685C643.147 257.021 623.998 239.942 622.139 238.271C617.956 233.538 596.019 210.147 575.569 213.581C569.434 214.602 561.069 218.408 555.677 230.846C547.497 249.874 520.448 266.86 505.018 275.307C494.421 281.062 482.43 282.176 472.019 278.37C462.538 274.843 461.701 270.016 461.515 268.438C459.377 254.794 481.314 249.967 481.5 249.967C482.988 249.688 484.289 249.039 485.497 248.11C496.931 238.828 533.554 206.805 525.746 183.507C522.865 174.968 517.009 166.706 508.271 159.002C499.44 151.205 494.328 140.345 494.328 129.3C494.142 97.8333 498.511 88.7368 500.091 86.5091C517.938 92.4497 531.416 85.3953 539.41 77.4127C598.715 115.841 645.842 172.647 671.312 240.778V240.685ZM533.554 641.393C535.878 637.773 538.202 634.153 540.154 630.997C554.655 608.72 569.62 585.608 567.111 569.364C566.181 563.423 563.114 558.504 558.373 555.069C544.895 545.602 520.076 550.428 491.26 556.09C481.5 558.04 471.368 559.989 462.073 561.196C452.499 562.495 444.04 559.525 436.046 552.006C422.01 538.826 417.269 517.663 423.776 497.985C437.068 457.979 449.896 429.019 459.098 418.53C468.673 407.67 500.556 386.785 546.661 361.445C561.533 353.277 578.73 350.585 595.276 353.834C612.658 357.268 629.111 361.352 644.169 366.179C666.385 373.14 681.816 373.14 691.855 371.098C687.207 485.175 624.928 584.679 533.368 641.393H533.554Z" fill="%23F2F3F4" fill-opacity="0.5"/><path d="M259.434 348.357H259.155C257.296 347.336 243.446 338.425 216.489 281.248C208.309 263.89 191.485 252.009 172.522 250.338C163.692 249.503 154.582 249.41 145.473 249.874C130.6 250.709 120.654 255.258 116.006 263.426C110.429 273.265 115.356 283.197 116.006 284.311C116.285 284.868 116.657 285.424 117.122 285.889L221.23 411.568C222.81 414.074 226.807 418.901 234.894 420.85C236.939 421.314 239.17 421.593 241.401 421.593C251.998 421.593 264.546 416.209 279.047 405.535C291.41 396.346 296.708 386.599 294.849 376.482C291.41 358.103 264.918 349.935 259.62 348.45H259.434V348.357ZM267.8 390.498C251.068 402.936 242.609 403.307 239.728 402.843C237.962 402.565 237.218 401.915 237.032 401.915C236.753 401.265 236.381 400.708 235.917 400.151L132.273 275.029C131.994 274.193 131.808 273.079 132.273 272.43C133.017 271.13 136.921 268.81 146.588 268.253C154.768 267.789 162.948 267.881 170.942 268.624C183.305 269.738 194.366 277.535 199.758 288.952C229.038 351.327 246.513 364.508 254.972 366.272C264.546 369.056 275.701 375.275 276.537 379.731C276.909 381.494 274.771 385.393 267.893 390.498H267.707H267.8Z" fill="%23F2F3F4" fill-opacity="0.5"/></g></svg>');
  background-repeat: no-repeat;
  background-position: right;
  background-blend-mode: overlay;
}

#our-brands swiper-container {
  height: -moz-max-content;
  height: max-content;
}

#our-brands swiper-container swiper-slide img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: normal;
  font-weight: 600;
  font-family: 'Untitled',
        'Helvetica',
        'Arial',
        'sans-serif';
}

.brand-list li {
  display: flex;
  justify-content: center;
}

.menu-image-holder {
  background-image: url(../images/JPEG_HIGH_0054.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-custom-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none"><path d="M13.25 7.77344L1.25 7.77344" stroke="%2300362B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.04175 1L1.00008 7.727L7.04175 14.454" stroke="%2300362B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  border: 0;
  font-size: 0;
  background-size: cover;
  background-color: transparent;
  display: block;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.swiper-custom-arrow.prev {
  left: 14px;
}

.swiper-custom-arrow.next {
  right: 14px;
  transform: rotate(180deg);
}

.swiper-scrollbar {
  background: #004926 !important;
}

.swiper-container-horizontal>.swiper-scrollbar {
  border-radius: 2px;
  height: 5px;
  width: 200px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 319px) {
  h1 {
    font-size: 1rem;
  }

  p {
    font-size: 0.9rem;
  }
}

@media (min-width: 320px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }
}

@media (min-width: 640px) {
  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  .accordion-item {
    padding-left: 5%;
  }
}

@media (max-width: 640px) {
  #our-brands .heading,
    #our-expertise .heading,
    #our-channels .heading {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 768px) {
  .accordion-item {
    padding: 0 40px 0 40px;
  }

  footer {
    background-size: contain;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
  }

  nav li a {
    box-shadow: inset 0 0 0 0 var(--main-bw-color);
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
  }

  @keyframes scroll {
    0% {
      transform: translateY(0);
    }

    30% {
      transform: translateY(100px);
    }
  }

  svg #wheel {
    animation: scroll ease 1.5s infinite;
  }

  nav li a:hover {
    box-shadow: inset 200px 0 0 0 var(--main-bw-color);
    color: white;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .accordion-item {
    padding-left: 10%;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}

@media (min-width: 1536px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .accordion-item {
    padding-left: 21%;
  }
}

@media (min-width: 1920px) {
  .animated-scroll-icon {
    margin-top: 10rem;
  }

  .accordion-item {
    padding-left: 24%;
  }
}

@media (min-width: 768px) {
  .md\:container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 640px) {
    .md\:container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .md\:container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .md\:container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .md\:container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {
    .md\:container {
      max-width: 1536px;
    }
  }
}

.first\:absolute:first-child {
  position: absolute;
}

.first\:opacity-0:first-child {
  opacity: 0;
}

.hover\:border-solid:hover {
  border-style: solid;
}

.hover\:border-bw-white:hover {
  --tw-border-opacity: 1;
  border-color: rgb(250 245 240 / var(--tw-border-opacity));
}

.hover\:bg-bw-green:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 73 38 / var(--tw-bg-opacity));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:opacity-0:hover {
  opacity: 0;
}

.hover\:opacity-100:hover {
  opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
  .motion-reduce\:transition-none {
    transition-property: none;
  }
}

@media (min-width: 640px) {
  .sm\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .sm\:w-\[35px\] {
    width: 35px;
  }

  .sm\:gap-8 {
    gap: 2rem;
  }

  .sm\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .sm\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .sm\:py-\[15px\] {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .md\:block {
    display: block;
  }

  .md\:hidden {
    display: none;
  }

  .md\:h-10 {
    height: 2.5rem;
  }

  .md\:h-auto {
    height: auto;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:w-10\/12 {
    width: 83.333333%;
  }

  .md\:w-3\/12 {
    width: 25%;
  }

  .md\:w-8\/12 {
    width: 66.666667%;
  }

  .md\:w-\[20px\] {
    width: 20px;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:items-end {
    align-items: flex-end;
  }

  .md\:gap-0 {
    gap: 0px;
  }

  .md\:gap-8 {
    gap: 2rem;
  }

  .md\:p-0 {
    padding: 0px;
  }

  .md\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .md\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .md\:pb-\[180px\] {
    padding-bottom: 180px;
  }

  .md\:pt-0 {
    padding-top: 0px;
  }

  .md\:text-left {
    text-align: left;
  }

  .md\:text-right {
    text-align: right;
  }

  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-7xl {
    font-size: 4.5rem;
    line-height: 1;
  }
}

@media (min-width: 1024px) {
  .lg\:w-8\/12 {
    width: 66.666667%;
  }

  .lg\:w-\[30px\] {
    width: 30px;
  }

  .lg\:py-\[15px\] {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .lg\:pl-6 {
    padding-left: 1.5rem;
  }

  .lg\:pl-\[130px\] {
    padding-left: 130px;
  }

  .lg\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 1280px) {
  .xl\:w-7\/12 {
    width: 58.333333%;
  }

  .xl\:py-\[45px\] {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

@media (min-width: 1536px) {
  .\32xl\:h-12 {
    height: 3rem;
  }

  .\32xl\:w-8\/12 {
    width: 66.666667%;
  }

  .\32xl\:w-\[40px\] {
    width: 40px;
  }

  .\32xl\:gap-3 {
    gap: 0.75rem;
  }
}